In [1]:
import pandas as pd
import numpy as np
import time
import pickle

In [4]:
matrix_test = pickle.load( open( "saved_weghts_matrix.p", "rb" ) )
index= pickle.load( open( "index.p", "rb" ) )

In [5]:
index_array=[]
for k in index:
    index_array.append(k)

In [6]:
df_matrix= pd.DataFrame(matrix_test, index=index_array)

In [7]:
df_matrix.head()

,MED-10,MED-1000,MED-1002,MED-1003,MED-1004,MED-1005,MED-1006,MED-1007,MED-1008,MED-1009,...,MED-988,MED-990,MED-991,MED-992,MED-993,MED-994,MED-995,MED-996,MED-998,MED-999
statin,2.299780,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
breast,1.058255,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.002007,0.0,0.569092,0.0
cancer,0.690280,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
survival,1.166944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
nationwide,1.117764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0

In [8]:
df_matrix_transp=df_matrix.transpose()

In [9]:
df_matrix_transp.head()

,statin,breast,cancer,survival,nationwide,cohort,study,finland,abstract,recent,...,noradrenaline,q10,fol,mdp,inchianti,tuscany,eurosave,eurostat,upward,scarcity
MED-10,2.29978,1.058255,0.69028,1.166944,1.117764,0.784502,0.206993,1.568795,0.001327,0.520937,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MED-1000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.217533,0.000000,0.001394,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MED-1002,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.150523,0.000000,0.001255,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MED-1003,0.00000,0.000000,0.00000,0.000000,0.000000,0.777188,0.232818,0.000000,0.001492,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MED-1004,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001492,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
dict_new=df_matrix_transp.to_dict()

In [11]:
for term in dict_new.keys():
    new_list= list(dict_new[term].keys())
    
    for doc in new_list:
        if dict_new[term][doc]==0.0:
            del dict_new[term][doc]

In [12]:
dict_new['statin']

{'MED-10': 2.2997797090029812,
 'MED-1193': 2.1136794694915273,
 'MED-1207': 1.1768138794927716,
 'MED-1258': 1.2367401305629944,
 'MED-14': 1.732764125336321,
 'MED-1887': 1.609036006703844,
 'MED-2428': 1.7382967942478764,
 'MED-2429': 2.0925530712888984,
 'MED-2431': 2.2682296830934026,
 'MED-3430': 1.2756112184517614,
 'MED-4559': 1.9232296229539232,
 'MED-4562': 1.8632359753994476,
 'MED-4827': 1.131997397273384,
 'MED-4828': 1.9294702929328036,
 'MED-4829': 2.353627758985543,
 'MED-4830': 2.353627758985543}

In [13]:
#pickle.dump( dict_new, open( "term_docs_tf_idf_dict.p", "wb" ) )